.FooterContainer{
    @apply flex flex-col w-full mt-40


}
.FooterContent{
    background-image: url("../assets/BgFooter.png");
    @apply flex flex-col w-full
    bg-cover bg-no-repeat bg-center bg-[#533529]
    md:flex-row
}
.FooterContentLeft{
    @apply w-full flex flex-col items-center justify-center py-2
    md:w-[20%]
}
.FooterContentRight{
    @apply w-full flex flex-col items-center justify-around
    md:flex-row md:w-[80%]
}
.FooterImg{
    @apply w-[50%] h-auto
    sm:w-[40%]
    md:w-[90%]
    lg:w-[70%]
}
.UlFooter{
    @apply flex flex-col items-center justify-center w-full
     md:items-start md:justify-start
}
.LiFooter{
    @apply text-[#FFF3E0] text-sm font-medium mt-3 cursor-pointer
    flex-row flex items-center
    md:text-xs
    xl:text-sm
}
.FooterListTitle{
    @apply text-[#FFF] text-lg font-semibold cursor-default
    md:text-base
    xl:text-lg
}
.FooterIcons{
    @apply w-6 h-6 mr-2
}
.FooterSocialMedia{
    @apply flex flex-row items-end justify-end px-4 text-sm text-[#FFF3E0] font-semibold
    md:px-10
}
.FooterSocialMediaIcons{
    @apply w-6 h-6 ml-2
}