.OfferContainer{
    @apply flex flex-col w-full items-center justify-center relative mt-32
}
.OfferContent{
    @apply flex flex-col w-[90%] px-4 pt-10
    bg-gradient-to-tr from-[#6b483b] via-[#775142] to-[#6b483b] rounded-[40px]
    border-2 border-[#6b483b]
    md:flex-row md:px-8 md:py-8
    xl:px-12 xl:py-4
    2xl:py-0
}
.OfferTitle{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F8E4BE;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 4px #F8E4BE;
    @apply text-7xl font-bold text-[#231619] z-10 absolute -top-14
    md:left-24
    xl:left-44
}

.OfferLeft{
    @apply flex flex-col w-full  justify-center
    md:w-[60%]
}
.OfferLeftTitle{
     @apply text-[#F8E4BE] text-4xl font-medium text-center
     md:text-4xl md:text-start
     xl:text-5xl
 }
.OfferDesc{
    @apply text-[#FFFFFF] text-sm font-medium mt-2 text-center w-full
    md:text-sm md:text-start md:mt-6
    xl:w-[80%] xl:text-base
}
.OfferBtnSec{
    @apply w-full mt-2
    md:w-[50%] md:mt-6
    xl:w-1/3
}

.OfferRight{
    @apply flex items-center justify-center w-full
    md:w-[40%]
}
.OfferImg{
    @apply w-[80%] object-contain
    md:w-[70%]
}